[Desktop Entry]
Name=D1X-Redux
Comment=A modern source port of Descent
Exec=d1x-redux
Icon=com.dxx_redux.d1x-redux
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false

