[Desktop Entry]
Name=D2X-Redux
Comment=A modern source port of Descent II
Exec=d2x-redux
Icon=com.dxx_redux.d2x-redux
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false

